html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1, h2, h3 {
    margin: 0;
}
ul {
    margin: 0;
}
button.primary {
    display: block;
    color: white;
    background-color: red;
    border: none;
    width: 90px;
    height: 24px;
}
#page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 55px);
}
#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#filters {
    flex-basis: 25%;
    min-height: calc(100% - 70px);
}
#content {
    flex-basis: 75%;
    min-height: calc(100% - 70px);
}
.item {
    width: 150px;
    height: 224px;
}
.item > img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}
.item > button {

}
.item > button > img {
    width: 20px;
    height: 20px;
}
#order {
    position: fixed;
    right: 0;
    height: calc(100% - 125px);
    width: 30%;
    top: 55px;
    max-height: calc(100% - 125px);
    overflow-y: auto;
}
#footer {
    width: 100%;
    flex-direction: row;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px
}
