@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 14px Roboto, sans-serif;
    font-weight: 400;
}
h1, h2, h3 {
    margin: 0;
    font-weight: 300;
}
ul {
    margin: 0;
}
button.primary {
    display: block;
    color: white;
    background-color: red;
    border: none;
    width: 90px;
    height: 24px;
}
#page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100% - 55px);
}
body > header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    align-items: center;
}
#menu > img {
    width: 34px;
    height: 34px;
    margin: 0 0 0 16px;
}
#logo {
    margin: 0 0 0 16px;
}
#page-header-phone {
    margin: 0 16px 0 0;
}
a.phone {
    color: rgb(65, 62, 62);
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px dashed rgb(65, 62, 62);
}
a.phone:hover {
    color: #000;
    border-color: red;
}
a.phone:active {
    color: red;
    border-color: red;
}
#filters {
    flex-basis: 25%;
    min-height: calc(100% - 70px);
}
#content {
    flex-basis: 75%;
    min-height: calc(100% - 70px);
}
.item {
    width: 150px;
    height: 224px;
}
.item > img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
}
.item > button {

}
.item > button > img {
    width: 20px;
    height: 20px;
}
#order {
    position: fixed;
    right: 0;
    height: calc(100% - 125px);
    width: 30%;
    top: 55px;
    max-height: calc(100% - 125px);
    overflow-y: auto;
}
#footer {
    width: 100%;
    flex-direction: row;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px
}
@media only screen and (max-width: 570px) {
    #page-header-phone, #logo, #page-title > span {
        display: none;
    }
    #page-header {
        justify-content: flex-start;
    }
    #order-cart {
        margin: 0 16px 0 auto;
        position: relative;
    }
    #order-cart > img {
        width: 30px;
        height: 30px;
    }
    #order-cart > span {
        background: red;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        overflow: hidden;
        color: #fff;
        text-align: center;
        line-height: 16px;
    }
}
@media only screen and (min-width: 570px) {
    #menu, #order-cart {
        display: none;
    }
}
